<% if @user %>
<div class="page-header">
  <h1>
    <%= t("publisher.email.password_reset")%>
  </h1>
</div>
<%= form_tag password_reset_submit_path do %>
    <%= hidden_field_tag :id, params[:id] %>

    <div class="clearfix">
      <%= label_tag :password, t("commons.password") %>
      <div class="input">
         <%= password_field_tag :password, '', {:class => "xlarge", :autocomplete => 'off'} %>
      </div>
    </div>
    
    <div class="clearfix">
      <%= label_tag :password_confirmation, t("commons.password_confirmation") %>
      <div class="input">
         <%= password_field_tag :password_confirmation, '', {:class => "xlarge", :autocomplete => 'off'} %>
      </div>
    </div>

    <div class="actions">
        <%= submit_tag(t("commons.buttons.send"), { :class => 'btn primary' }) %> | 
        <%= link_to t("commons.back"), get_login_path %>
    </div>
<% end %>
<% end %>