<div class="page-header">
  <h1>
    <%= t("publisher.email.password_reset")%>
  </h1>
</div>

<%= form_tag password_reset_send_path do %>

<div class="clearfix">
  <%= label_tag :email, t("commons.email") %>
  <div class="input">
     <%= text_field_tag :email, params[:email], {:class => "xlarge", :autocomplete => 'off'} %>
  </div>
</div>

<div class="actions">
    <%= submit_tag(t("commons.buttons.send"), { :class => 'btn primary' }) %> | 
    <%= link_to t("commons.back"), get_login_path %>
</div>
<% end %>
