<script>
$(document).ready(function(){
  var calculateDiscount = function(){
    var discount = $("#prepaid_package_discount").val();
    var price = $("#prepaid_package_price").val();
    var budget = 0;
    if(discount != "" && !isNaN(discount) && price != "" && !isNaN(price)){
      price = parseInt(price, 10);
      discount = parseInt(discount, 10);
      budget = price + (price * (discount / 100.0));
    }
    $("#prepaid_package_budget").val(budget);
  }
  $("#prepaid_package_price").keyup(function(){
    calculateDiscount();
  })
  $("#prepaid_package_discount").change(function(){
    calculateDiscount();
  })
});
</script>
<%= simple_form_for([:admin, @prepaid_package], :wrapper => "inline") do |f| %>
  <%= render 'commons/error_notification', :f => f %>

  <div class="inputs">
    <%= f.input :package_code %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :price %>
    <%= f.input :discount, :label => "Discount %", :collection => PrepaidPackage::DISCOUNTS %>
    <%= f.input :budget, :input_html => {"readonly" => "readonly"} %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
