<div class="infopage">
	<div class="page-header">
	  <h2><%= raw t("infopage.intro.title") %></h2>
	</div>
	<p><%= raw t("infopage.intro.content") %></p>

	<div class="half pull-left">
		<div class="page-header">
		  <h2><%= raw t("infopage.block1.title") %></h2>
		</div>
		<p><%= raw t("infopage.block1.content") %></p>
	</div>	
	<div class="half pull-right">
		<div class="page-header">
		  <h2><%= raw t("infopage.block2.title") %></h2>
		</div>
		<ol>
			<li><%= raw t("infopage.block2.content.li1") %></li>
			<li><%= raw t("infopage.block2.content.li2") %></li>
			<li><%= raw t("infopage.block2.content.li3") %></li>
		</ol>
	</div>
	<div class="clear"></div>
	<hr />
	
	<div class="page-header">
	  <h2><%= raw t("infopage.block3.title") %></h2>
	</div>
	<ol>
		<li><%= raw t("infopage.block3.content.li1") %></li>
		<li><%= raw t("infopage.block3.content.li2") %></li>
		<li><%= raw t("infopage.block3.content.li3") %></li>
		<li><%= raw t("infopage.block3.content.li4") %></li>
		<li><%= raw t("infopage.block3.content.li5") %></li>
	</ol>
	
	<div class="page-header">
	  <h2><%= raw t("infopage.block4.title") %></h2>
	</div>
	<ol>
		<li><%= raw t("infopage.block4.content.li1") %></li>
		<li><%= raw t("infopage.block4.content.li2") %></li>
	</ol>
	
	<hr />
	
	<div class="page-header">
	  <h2><%= raw t("infopage.block5.title") %></h2>
	</div>
	<p><%= raw t("infopage.block5.content.intro") %></p>
	<ul>
		<li><%= raw t("infopage.block5.content.li1") %></li>
		<li><%= raw t("infopage.block5.content.li2") %></li>
		<li><%= raw t("infopage.block5.content.li3") %></li>
		<li><%= raw t("infopage.block5.content.li4") %></li>
		<li><%= raw t("infopage.block5.content.li5") %></li>
		<li><%= raw t("infopage.block5.content.li6") %></li>
	</ul>
</div>
