<% current_action = "#{controller.controller_name}/#{controller.action_name}" %>

<ul class="nav">
    <li class="dropdown">
        <a class="dropdown-toggle">Profile</a>
        <ul class="dropdown-menu">
            <li class="<%= 'active' if current_action == 'edit/edit' %>">
                <%= link_to 'Edit', partner_edit_path %>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">Reports</a>
        <ul class="dropdown-menu">
            <li class="<%= 'active' if current_action == 'reports/tracking_urls' %>">
                <%= link_to 'Tracking Urls', partner_tracking_urls_path %>
            </li>
            <li class="<%= 'active' if current_action == 'reports/rs_conditions' %>">
                <%= link_to 'RS Conditions', partner_conditions_path %>
            </li>
            <li class="<%= 'active' if current_action == 'reports/rs_traffic' %>">
                <%= link_to 'RS Traffic', partner_rs_traffic_path %>
            </li>
            <li class="<%= 'active' if current_action == 'reports/publishers' %>">
                <%= link_to 'Publishers', partner_publishers_path %>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle">Billing</a>
        <ul class="dropdown-menu">
            <li class="<%= 'active' if current_action == 'billings/revenue_share' %>">
                <%= link_to 'Revenue Share', partner_revenue_share_path %>
            </li>
        </ul>
    </li>
</ul>
