<%= simple_form_for([:admin, @advertiser], :wrapper => "inline") do |f| %>
    <%= f.input :company_name %> 
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :country %>
    <%= f.input :zip_code %>
    <%= f.input :phone %>
    <%= f.input :fax %>
    <%= f.input :site, :placeholder => "http://www.example.com" %>
    <%= f.fields_for :user do |fu| %>
      <% fields = ["email", "password", "password_confirmation"] %>
      <%= fu.input :email %>
      <%= fu.input :password %>
      <%= fu.input :password_confirmation %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.button :submit, :class => "info" %>
  </div>
<% end %>
