<%= simple_form_for([:admin, @user], :wrapper => "inline") do |f| %>
  <%= render 'commons/error_notification', :f => f %>

  <div class="inputs">
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
